@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
img {
  max-width: 100%;
}

.wraper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  min-height: 100%;
  width: 100%;
}

body {
  background-color: #1c2023;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

body.noscrol {
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.contener {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0px 10px;
}

.header {
  position: relative;
  padding: 40px 0;
}

.header::after, .header::before {
  height: 764px;
  width: 1363px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 1300px) {
  .header::after, .header::before {
    left: 0;
  }
}

@media (max-width: 1023px) {
  .header::after, .header::before {
    height: 600px;
    width: 1020px;
  }
}

@media (max-width: 800px) {
  .header::after, .header::before {
    height: 500px;
    width: 800px;
  }
}

@media (max-width: 520px) {
  .header::after, .header::before {
    height: 500px;
    width: 540px;
  }
}

.header::before {
  background: url(../img/bg.png) no-repeat center/cover;
}

.header::after {
  background: url(../img/snow.gif) no-repeat center/cover;
  opacity: 0.1;
}

.header__contener {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__top {
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1023px) {
  .header__left {
    max-width: 60px;
  }
}

.header__hamb {
  margin-top: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
  cursor: pointer;
}

.header__ham1, .header__ham2, .header__ham3 {
  height: 1.99px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__ham1 {
  width: 25px;
  margin-bottom: 5px;
}

.header__ham2 {
  width: 12px;
  margin-bottom: 5px;
}

.header__ham3 {
  width: 25px;
}

.header__hamb.activ .header__ham1,
.header__hamb.activ .header__ham3 {
  width: 12px;
}

.header__hamb.activ .header__ham2 {
  width: 25px;
}

.header__timer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__realease {
  font-size: 16px;
  line-height: 116%;
  color: #8c96a0;
  margin-right: 19px;
}

.header__infos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__info {
  margin-top: -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__info:not(:last-child) {
  margin-right: 8px;
}

.header__veal {
  font-weight: 700;
  font-size: 40px;
  line-height: 117%;
  color: #a9c7c7;
}

@media (max-width: 1023px) {
  .header__veal {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .header__veal {
    font-size: 30px;
  }
}

@media (max-width: 510px) {
  .header__veal {
    font-size: 24px;
    font-weight: 600;
  }
}

.header__type {
  line-height: 118%;
  color: #8c96a0;
}

.header__inf {
  margin-top: 100px;
  max-width: 600px;
  padding-bottom: 100px;
  -webkit-animation: title 0.3s linear;
          animation: title 0.3s linear;
}

@media (max-width: 1023px) {
  .header__inf {
    margin-top: 80px;
  }
}

@media (max-width: 930px) {
  .header__inf {
    margin-top: 50px;
  }
}

@media (max-width: 790px) {
  .header__inf {
    margin-top: 20px;
    padding-bottom: 80px;
  }
}

@media (max-width: 520px) {
  .header__inf {
    font-size: 40px;
    padding-bottom: 40px;
  }
}

@-webkit-keyframes title {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes title {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.header__title {
  font-weight: 600;
  font-size: 100px;
  line-height: 100%;
  margin-bottom: 26px;
}

@media (max-width: 1023px) {
  .header__title {
    font-size: 70px;
  }
}

@media (max-width: 930px) {
  .header__title {
    font-size: 60px;
  }
}

@media (max-width: 520px) {
  .header__title {
    font-size: 40px;
  }
}

.header__subtitle {
  font-size: 18px;
  color: #a9c7c7;
  margin-bottom: 60px;
}

.header__button {
  padding: 11px 37px;
  background-color: #8856d9;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 118%;
  text-transform: uppercase;
  color: #ffffff;
}

.header__button:hover {
  background: #9468da;
}

.header__button:active {
  background: #6039a0;
}

.menu {
  opacity: 0;
  -webkit-transform: translateX(-1000px);
      -ms-transform: translateX(-1000px);
          transform: translateX(-1000px);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  -o-transition: opacity 0.2s, transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
}

.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 31px;
}

.menu__link {
  font-size: 14px;
  line-height: 193%;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__link:hover {
  color: #8856d9;
}

.long {
  opacity: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.long:hover .long__longs {
  display: block;
}

.long:hover .long__svg {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.long__long2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.long__long1 {
  color: #ffffff;
  opacity: 1;
  margin-right: 5px;
}

.long__svg {
  margin-bottom: 5px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.long__longs {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: none;
  padding: 5px;
  background-color: #000000;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.long__lon {
  text-transform: uppercase;
  color: #ffffff;
}

.menu.open {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.editions {
  padding: 53px 0;
}

@media (max-width: 375px) {
  .editions {
    padding: 10px 0;
  }
}

.editions__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 117%;
  text-align: center;
  margin-bottom: 31px;
}

@media (max-width: 767px) {
  .editions__title {
    font-size: 32px;
  }
}

.editions__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: -10px;
}

@media (max-width: 767px) {
  .editions__items {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.editions__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 350px;
  padding: 17px;
  margin: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#141615), to(#1c2023));
  background: -webkit-linear-gradient(top, #141615 0%, #1c2023 100%);
  background: -o-linear-gradient(top, #141615 0%, #1c2023 100%);
  background: linear-gradient(180deg, #141615 0%, #1c2023 100%);
  -webkit-border-radius: 6px;
          border-radius: 6px;
}

.editions__image {
  max-width: 316px;
  margin-bottom: 20px;
}

.editions__title3 {
  font-weight: 700;
  line-height: 117%;
  text-align: center;
  margin-bottom: 10px;
}

.editions__sudtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 117%;
  text-align: center;
  color: #a9c7c7;
  margin-bottom: 36px;
}

.editions__text {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.editions__text p {
  font-size: 14px;
  line-height: 17px;
  color: #8c96a0;
}

.editions__text p:not(:last-child) {
  margin-bottom: 12px;
}

.editions__futter {
  margin-top: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.editions__price {
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  margin-bottom: 14px;
}

.editions__btn {
  padding: 11px 37px;
  background-color: #8856d9;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 118%;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 13px;
  line-height: 118%;
  padding: 7px 19px;
}

.editions__btn:hover {
  background: #9468da;
}

.editions__btn:active {
  background: #6039a0;
}

.dualsense {
  padding-bottom: 90px;
  padding-top: 20px;
}

.dualsense__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 117%;
  text-align: center;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  .dualsense__title {
    font-size: 32px;
  }
}

.dualsense__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 740px) {
  .dualsense__body {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.dualsense__info {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 420px;
      -ms-flex: 0 1 420px;
          flex: 0 1 420px;
  margin-right: 80px;
}

@media (max-width: 970px) {
  .dualsense__info {
    margin-right: 60px;
  }
}

@media (max-width: 840px) {
  .dualsense__info {
    margin-right: 40px;
  }
}

@media (max-width: 740px) {
  .dualsense__info {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.dualsense__text {
  margin-bottom: 25px;
}

.dualsense__text1 {
  font-size: 18px;
  line-height: 150%;
  color: #a9c7c7;
}

.dualsense__text1:not(:last-child) {
  margin-bottom: 20px;
}

.dualsense__fiolet {
  color: #8856d9;
  font-weight: 600;
}

.dualsense__red {
  color: red;
  font-weight: 600;
}

.dualsense__futter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 400px) {
  .dualsense__futter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.dualsense__prise {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
}

@media (max-width: 424px) {
  .dualsense__prise {
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .dualsense__prise {
    margin-bottom: 10px;
  }
}

.dualsense__btn {
  padding: 11px 37px;
  background-color: #ff4136;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 118%;
  text-transform: uppercase;
  color: #ffffff;
  padding: 13px 19px;
}

@media (max-width: 424px) {
  .dualsense__btn {
    padding: 10px 12px;
  }
}

.dualsense__image {
  position: relative;
}

.dualsense__image::before {
  content: "gggggg";
  position: absolute;
  width: 194px;
  height: 119px;
  top: 60%;
  left: 50%;
  background-color: rgba(79, 96, 152, 0.8);
  -webkit-filter: blur(75px);
          filter: blur(75px);
  -webkit-transform: translate(-50%, -60%);
      -ms-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
}

.dualsense__image img {
  -webkit-animation: grav 1.5s linear infinite alternate;
          animation: grav 1.5s linear infinite alternate;
}

@-webkit-keyframes grav {
  0% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes grav {
  0% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.aboutgame {
  position: relative;
}

.aboutgame__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 117%;
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .aboutgame__title {
    font-size: 32px;
  }
}

.aboutgame__video {
  width: 100%;
  height: auto;
}

.aboutgame__info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.aboutgame__title2 {
  margin-top: 20px;
  font-weight: 500;
  font-size: 50px;
  line-height: 128%;
  text-align: center;
  margin-bottom: 28px;
}

@media (max-width: 767px) {
  .aboutgame__title2 {
    font-size: 40px;
  }
}

@media (max-width: 520px) {
  .aboutgame__title2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
}

@media (max-width: 520px) {
  .aboutgame__title2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

.aboutgame__btn {
  padding: 11px 37px;
  background-color: #30373f;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 118%;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin: 0 auto;
}

@media (max-width: 520px) {
  .aboutgame__btn {
    font-size: 16px;
    padding: 5px 15px;
  }
}

.explore {
  padding: 40px 0;
}

.explore__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 117%;
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .explore__title {
    font-size: 32px;
  }
}

.explore__item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 20px;
}

.explore__item-checkboks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 22px;
}

.explore__item-box {
  margin: 0 20px;
  width: 54px;
  height: 25.87px;
  background: #30373f;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  position: relative;
}

.explore input {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.explore input:checked {
  -webkit-transform: translateX(28px);
      -ms-transform: translateX(28px);
          transform: translateX(28px);
}

.explore input:checked .span1 {
  -webkit-transform: translateX(28px);
      -ms-transform: translateX(28px);
          transform: translateX(28px);
  color: #ff4136;
}

.explore .span1 {
  position: absolute;
  width: 18px;
  height: 17.91px;
  background: #8856d9;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  top: 4px;
  left: 4px;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.explore__item-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
}

.explore__item-text.active {
  font-size: 14px;
  line-height: 17px;
}

.explore__item-text {
  color: #30373f;
}

.explore__item-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 5%;
     -moz-column-gap: 5%;
          column-gap: 5%;
  margin-bottom: 40px;
}

.explore__item-info_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 730px) {
  .explore__item-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
  }
}

.explore__item-image {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 45%;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  min-height: 320px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
}

.explore__item-imbody {
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  bottom: 0;
  left: 25%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  background: url(../img/image1bg.png) no-repeat center/cover;
}

.explore__item-imbody_2 {
  background: url(../img/image2bg.png) no-repeat center/cover;
}

.explore__item-imbody::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 140px;
  bottom: 0;
  left: 25%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: rgba(255, 65, 54, 0.8);
  -webkit-filter: blur(75px);
          filter: blur(75px);
  -webkit-transform: matrix(-0.03, -1, 1, -0.03, 0, 0);
      -ms-transform: matrix(-0.03, -1, 1, -0.03, 0, 0);
          transform: matrix(-0.03, -1, 1, -0.03, 0, 0);
}

@media (max-width: 1203px) {
  .explore__item-imbody::before {
    left: 40%;
  }
}

@media (max-width: 810px) {
  .explore__item-imbody::before {
    left: 50%;
  }
}

@media (max-width: 1203px) {
  .explore__item-imbody {
    left: 40%;
  }
}

@media (max-width: 810px) {
  .explore__item-imbody {
    left: 50%;
  }
}

.explore__item-img {
  max-width: unset;
  position: absolute;
  bottom: 0;
  left: 25%;
  -webkit-transform: translateX(-43%);
      -ms-transform: translateX(-43%);
          transform: translateX(-43%);
}

@media (max-width: 1203px) {
  .explore__item-img {
    left: 40%;
  }
}

@media (max-width: 810px) {
  .explore__item-img {
    left: 50%;
  }
}

.explore__item-diskr {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 45%;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
}

.explore__item-ul {
  display: none;
  margin-bottom: 20px;
}

.explore__item-list {
  font-size: 15px;
  line-height: 240%;
}

.explore__item-btn {
  padding: 11px 37px;
  background-color: #ff4136;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 118%;
  text-transform: uppercase;
  color: #ffffff;
}

.akt {
  color: #ffffff;
}

.active {
  display: block;
}

.fiolet {
  font-size: 15px;
  line-height: 240%;
  color: #8856d9;
}

.news {
  padding: 30px 0;
}

.news__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 117%;
  text-align: center;
}

@media (max-width: 767px) {
  .news__title {
    font-size: 32px;
  }
}

.swiper {
  width: 700px;
  height: 400px;
}

.swiper-slide {
  background: -webkit-linear-gradient(272.13deg, #30373f 41.63%, #141615 185.57%);
  background: -o-linear-gradient(272.13deg, #30373f 41.63%, #141615 185.57%);
  background: linear-gradient(177.87deg, #30373f 41.63%, #141615 185.57%);
  -webkit-border-radius: 6px;
          border-radius: 6px;
  padding: 20px;
  width: 615px;
  height: 346px;
}

.swiper-slide__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swiper-slide__subtitle {
  font-weight: 600;
  font-size: 10px;
  line-height: 120%;
  text-transform: uppercase;
  color: #8856d9;
}

.swiper-slide__date {
  font-size: 10px;
  line-height: 170%;
  color: #8c96a0;
}

.swiper-slide__title {
  font-weight: 600;
  font-size: 19px;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.swiper-slide__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swiper-slide__diskrip {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.swiper-slide__text {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 45%;
      -ms-flex: 1 0 45%;
          flex: 1 0 45%;
  font-size: 12px;
  line-height: 142%;
  color: #d9d9d9;
}

.swiper-slide__btn {
  padding: 11px 37px;
  background-color: #8c96a0;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 118%;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
}
